.emails {
    padding: 0;
}

.app-text-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.app-item-row {
    border: 1px solid gainsboro;
    padding: 8 0;
}

.app-item-row:hover {
    background-color: #F2F2F2;
}