.email-detail {
    font-size: small;
}

.email-body {
    /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.btn-reply {
    position: absolute;
    top: 0;
    right: 10px;
}